<section class="your">
  <div class="your_top">
    <div class="your_title">your referrals</div>
    <mat-form-field class="your_field">
      <mat-label>type for searching here</mat-label>
      <input matInput class="your_input" #input type="text" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="your_bottom">
    <nav>
      <ul class="your_links">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="your_link" routerLink="">In Triage</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="your_link" routerLink="">Completed </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="your_link" routerLink="">Drafts(1)</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="your_link" routerLink="/referrals">Rejected</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="your_link" routerLink="">Discharged</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="your_link" routerLink="">Archived</a>
        </li>
      </ul>
    </nav>
    <button class="btn-submit">Submit Referral</button>
  </div>
</section>
<section class="content">
  <div class="info">
    <div>
      <button class="btn">
        <div class="btn_arrow-left"></div>
        Back to Dashboard
      </button>
    </div>

    <div class="info_value">{{ input.value || "tst0000422" }}</div>
  </div>
  <!-- scroll -->
  <div class="scroll">
    <div class="main-content">
      <div class="information">
        <app-information></app-information>
      </div>
      <div class="history">
        <app-history></app-history>
      </div>
    </div>
  </div>
  <div class="footer">
    <div>
      <button class="btn footer_btn">Download attachments as single PDF</button>
    </div>
    <div>
      <button class="btn footer_btn">Add Information</button>
    </div>
  </div>
</section>
