<div class="history_title">Referral Status History</div>
<div class="history_content">
  <div class="history_status">
    <p class="history_keys">16 Oct 2020</p>
    <p class="history_value">Recived</p>
    <p class="history_keys">16 Oct 2020</p>
    <p class="history_value-black">
      Sent to: Aintree Hschospital 16Oct 2020, 09:12 Provider recived referral
    </p>
    <p class="history_keys">16 Oct 2020</p>
    <p class="history_value">
      Rejected: No X-rays( <a href="" class="link">Rejection letter</a> )
    </p>
    <p class="history_keys">
      16 Oct 2020 <span class="current-status">current status</span>
    </p>
    <p class="history_value">
      Rejected: No X-rays( <a href="" class="link">Rejection letter</a> )
    </p>
  </div>
  <div class="re-submit">
    <button class="btn_re-submit">Re-submit forms</button>
  </div>
</div>
<div class="attachment">
  <div class="attachment_title">Attachments</div>
  <ul class="attachment_links">
    <li class="attachment_link">
      <a href="" class="link">
        TST0000422_2YahNationalUrgentReferralForm.pdf
      </a>
    </li>

    <li class="attachment_link">
      <a href="" class="link"> TST0000422_MedicalHistoryForm.pdf </a>
    </li>
  </ul>
</div>
<div class="rejections">
  <div class="rejections_title">All Rejection Letters</div>
  <ul class="rejections_links">
    <li class="rejections_link">
      <a href="" class="link">Rejection Letter (16/10/20, 14:29)</a>
      <span class="current-status">latest rejection letter</span>
    </li>
    <li class="rejections_link">
      <a href="" class="link">Rejection Letter (16/10/20, 15:29)</a>
    </li>
    <li class="rejections_link">
      <a href="" class="link">Rejection Letter (16/10/20, 09:21)</a>
    </li>
    <li class="rejections_link">
      <a href="" class="link">Rejection Letter (16/10/20, 09:13)</a>
    </li>
  </ul>
</div>
