/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/config";
@import "./assets/styles/main";
@import "./assets/styles/referrals";
@import "./assets/styles/buttons";
@import "./assets/styles/content";
@import "./assets/styles/history";
@import "./assets/styles/footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
