// fonts

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

$lato: "Lato", sans-serif;

// colors
$black: #000000;
$light-black: #323232;
$blue: #2f8bb2;
$border-grey: #b7c6cf;
$red: #ea1b1b;
$main-blue: #034971;
$white: #ffffff;

%font-shared {
  font-family: $lato;
  font-weight: 900;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  color: $black;
}
