#input-wrap {
  margin-right: 31px;
  margin-top: 13px;

  .mat-form-field {
    width: 432px;
  }

  .mat-form-field-underline {
    background-color: $main-blue;
  }

  .mat-form-field-label {
    @extend %font-shared;
    color: $light-black;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .mat-form-field-label-has-label {
    @extend %font-shared;
    color: $light-black;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .mat-input-element {
    @extend %font-shared;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $light-black;
  }

  .mat-icon {
    cursor: pointer;
  }

  .mat-select-arrow .mat-focused {
    background-color: $main-blue;
  }
}

#select-wrap {
  .mat-form-field {
    width: 184px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $border-grey;
    background: $white;
  }
}
