.your {
  height: 140px;
  border-radius: 8px 8px 0 0;
  margin-top: 58px;
  margin-left: 76px;
  margin-right: 76px;
  background-color: rgba($main-blue, 0.1);

  &_top {
    display: flex;
    justify-content: space-between;
  }

  &_title {
    @extend .status_text-user;

    margin-left: 30px;
    margin-top: 23px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 44px;
  }

  &_field {
    margin-top: 15px;
    margin-right: 31px;
  }

  &_input {
    @extend .status_text-user;

    font-weight: 500;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
  }

  &_links {
    display: flex;
    list-style: none;
    margin-left: 30px;
    margin-top: 24px;
    margin-bottom: 30px;
    list-style: none;
  }

  &_link {
    @extend .status_text-user;

    margin-right: 30px;
    text-decoration: none;
  }
}

.active .your_link {
  text-align: center;
  width: 65px;
  height: 21px;
  margin-right: 30px;
  border-radius: 4px;
  padding: 1px 5px;

  background: rgba($main-blue, 0.5);
  color: #ffffff;
}

.mat-icon {
  cursor: pointer;
}
